.system-build .banner {
    background-color: rgb(84, 85, 120);
}

.fa-plus {
    padding-right: 0.5rem;
}

.system-build .vertical-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.system-build .vertical-center:hover {
    text-decoration: none;
}

.fa-link {
    padding-right: 10px;
}

.system-build .list-link {
    background-color: #f9f5e9;
    padding: 10px;
    border-bottom: solid 1px black;
}

.system-build .list-link-url {
    color: black;
}

.system-build .list-link-url:hover {
    color: #2c85c5;
    text-decoration: none;
}


.system-build .row-title {
    position: relative;
}

.system-build .attribute tr td {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
}

.system-build .title thead th {
    border-bottom: solid 0.6px black;
    border-top: none;
}

.warn {
    border: solid 1px black;
}

.warn .row {
    margin: 0;
}

.warn .no-issue {
    padding: 5px 0px;
    background-color: rgb(0, 177, 106);
    color: white;
}

.tick, .untick, .lightning {
    padding-left: 10px;
}

.warn .issue {
    padding: 5px 0px;
    background-color: rgb(217, 30, 24);
    color: white;
}

.warn .wattage {
    padding: 5px 0px;
    border-left: solid 1px black;
    background-color: rgb(44, 133, 197);
    color: white;
}

.warn .title {
    padding-left: 10px;
}

.warn .text {
    font-family: "Roboto", sans-serif;
    padding-left: 5px;
}

.delete {
    font-size: 20px;
    padding-top: 12px;
    border-top: none !important;
}

.delete div i{
    cursor: pointer;
    transition: 0.25s;
}

.delete div i:hover {
    color: brown;
}

.product-img {
    height: 45px;
    border: solid 1px rgb(85, 85, 85);
    margin-right: 10px;
}

.contain-img {
    /* padding-left: 40px; */
}

.wrap-product-img {
    color: black;
}

.note-title {
    font-size: 24px;
    padding-bottom: 5px;
    margin-bottom: 8px !important;
    border-bottom: solid 0.6px black;
}

.note-link i {
    padding-right: 8px;
}

.note-link span {
    font-size: 18px;
    color: #f78300;
    padding-right: 5px;
}

.note-text .content {
    font-family: 'Roboto', sans-serif;
}

.product-card .price {
    color: rgb(44, 133, 197);
}

.system-build .total-price {
    text-align: right;
    font-size: 1.0rem;
    padding-right: 60px;
}

.system-build .text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.system-build .price {
    font-weight: 600;
    font-size: 1.25rem;
}