.banner {
    background-color: blueviolet;
    padding: 2.5rem 0rem 2rem 0rem;
    color: white;
}

.fa-plus {
    padding-right: 0.5rem;
}

.system-build .component:hover {
    text-decoration: none;
}