.nav { 
}

.header {
    position: relative;
    background-color: rgb(18, 19, 30);
}

.header .navbar {
    background-color: #191b2b;
}

.header .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.header .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

.header .logo {
    height: 60px;
}

.header .dropdown {
    position: static;
}

.hide {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s;
}

.system-builder-dropdown {
    position: absolute;
    z-index: 100;
    width: 100%;
    background-color: #26293c;
    padding: 2rem 4rem;
}

.prodcut-catrgory {
    padding: 6px;
}
.product-category__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(44, 133, 197, 0.4);
    padding: 8px;
}
.product-category__item:hover {
    color: #E0A82C;
    background-color: rgba(237, 169, 32, 0.15);
    text-decoration: none;
    box-shadow: inset 0px 0px 0px 2px #EDA920;
}

.product-category__item-img {
    display: block;
    margin: 0 12px 8px 12px;
    width: 100px;
    height: 100px;
}
.product-category__item-title {
    display: block;
    font-size: 12px;
}

.return-header {
    background-color: #12131e;
    height: 60px;
    padding-top: 20px;
    padding-left: 50px;
}

.arrow {
    font-size: 20px;
    color: white;
}

.arrow:hover {
    color: #3c99db;
    text-decoration: none;
    transition: 0.25s;
}
