@Ubuntu {
    font-family: 'Ubuntu', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap);
}

.dropdown-container {
    margin: auto;
    width: 80vw;
}

.header {
    position: relative;
    background-color: rgb(18, 19, 30);
}

.header .sub-nav {
    background-color: #191b2b;
    border-top: solid 1px rgb(70, 73, 95);
}

.header .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.header .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

.header .logo {
    height: 60px;
}

.header .dropdown {
    position: static;
}

.top-nav .nav-link {
    font-family: 'Roboto';
    font-size: 14px;
    display: block;
}

.top-nav .nav-item {
    border-right: solid 1px rgb(70, 73, 95);
}

.top-nav .nav-item:first-child {
    border-left: solid 1px rgb(70, 73, 95);
}

.top-nav .text-center {
    padding-top: 15px;
}

.top-nav .nav-logo {
    height: 55px;
    padding: 5px 0;
}

.hide {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s;
}

.nav-container {
    width: 90vw;
    margin: auto;
}

.header .navbar {
    padding: 0 !important;
}

.sub-nav .nav-item {
    padding: 15px 10px 15px 15px;
    border-right: solid 1px rgb(70, 73, 95);
    transition: 0.25s;
}

.sub-nav .nav-link {
    padding: 10px 0;
}

.item-img {
    width: 25px;
    display: inline-block;    
}

.sub-nav .nav-item .nav-link {
    display: inline;
} 

.sub-nav .nav-item:hover {
    background-color: rgb(38, 41, 60);
}

.sub-nav .nav-item:first-child {
    border-left: solid 1px rgb(70, 73, 95);
}

.system-builder-dropdown {
    position: absolute;
    z-index: 100;
    width: 100%;
    background-color: #26293c;
    padding: 2rem 4rem;
}

.prodcut-catrgory {
    padding: 3px;
}
.product-category__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgb(50, 54, 85);
    border: solid 0.6px rgb(64, 70, 116);
    padding: 10px;
    transition: 0.2s;
}
.product-category__item:hover {
    color: #E0A82C;
    background-color: rgba(237, 169, 32, 0.15);
    text-decoration: none;
    box-shadow: inset 0px 0px 0px 2px #EDA920;
}

.product-category__item-img {
    display: block;
    margin: 0 12px 8px 12px;
    height: 85px;
}
.product-category__item-title {
    display: block;
    font-size: 12px;
}

.extra-list .block {
    margin-bottom: 10px;
}

.dropdown .extra-list .title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    color: rgb(148, 148, 148);
    border-bottom: solid 0.4px rgb(148, 148, 148);
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.dropdown .extra-link {
    color: white;
    font-size: 11px;
}

.extra-list .extra-link:hover {
    color: #E0A82C;
    text-decoration: none;
}

.return-header {
    background-color: #12131e;
    height: 60px;
    padding-top: 20px;
    padding-left: 50px;
}

.arrow {
    font-size: 20px;
    color: white;
}

.arrow:hover {
    color: #3c99db;
    text-decoration: none;
    transition: 0.25s;
}
