.header .nav {
    background-color: rgb(18, 19, 30);
}

.header .navbar {
    background-color: #191b2b;
}

.header .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.header .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

.header .logo {
    height: 60px;
}

.header .dropdown {
    position: static;
}

.hide {
    display: none;
}

.system-builder-dropdown {
   transition-duration: 5s;
   background-color: rgba(44, 133, 197, 0.4)
}

.return-header {
    background-color: #12131e;
    height: 60px;
    padding-top: 20px;
    padding-left: 50px;
}

.arrow {
    font-size: 20px;
    color: white;
}

.arrow:hover {
    color: #3c99db;
    text-decoration: none;
    transition: 0.25s;
}
