* {
  /* font-family: 'Fjalla One', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.btn-primary {
  color: white;
  background-color: #191b2b;
  border-color: #191b2b;
}

.btn-primary:hover {
  background-color: #12131e;
  border-color: #12131e;
}

.btn-outline-primary {
  color: #191b2b;
  border-color: #191b2b;
}

.btn-outline-primary:hover {
  color: white;
  background-color: #191b2b;
  border-color: #191b2b;
}

.rcw-response .rcw-message-text {
  padding: 8px;
}

.rcw-client .rcw-message-text {
  padding: 8px;
}

.rcw-message .voice-pending {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-end;
}

.dot-typing {
  position: relative;
  left: -9700px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: lightgrey;
  color: lightgrey;
  box-shadow: 9984px 0 0 0 lightgrey, 9999px 0 0 0 lightgrey, 10014px 0 0 0 lightgrey;
  animation: dotTyping 1.5s infinite linear;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9984px 0 0 0 lightgrey, 9999px 0 0 0 lightgrey, 10014px 0 0 0 lightgrey;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 lightgrey, 9999px 0 0 0 lightgrey, 10014px 0 0 0 lightgrey;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 lightgrey, 9999px 0 0 0 lightgrey, 10014px 0 0 0 lightgrey;
  }
  50% {
    box-shadow: 9984px 0 0 0 lightgrey, 9999px -10px 0 0 lightgrey, 10014px 0 0 0 lightgrey;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 lightgrey, 9999px 0 0 0 lightgrey, 10014px 0 0 0 lightgrey;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 lightgrey, 9999px 0 0 0 lightgrey, 10014px -10px 0 0 lightgrey;
  }
  100% {
    box-shadow: 9984px 0 0 0 lightgrey, 9999px 0 0 0 lightgrey, 10014px 0 0 0 lightgrey;
  }
}

.audio-react-recorder {
  visibility: hidden;
  position: fixed;
}