@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* @font-face {
    font-family: 'Noto Sans JP';
    src: url(htttps://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&display=swap);
    font-weight: bold;
} */

.home-product {
    padding: 40px 0;
}

.light-back {
    background-color: #f4f4f3;
}

.small-container .row {
    margin: 0;
}

.home-product .block-title {
    font-size: 22px;
    border-bottom: solid 1px black;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.text-banner-wrap {
    padding: 40px;
    color: white;
    font-size: 18px;
}

.text-banner-wrap .button {
    margin-top: 20px;
}

.text-banner-wrap .banner-title {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.home-product .wrap-text {
    background-color: #e26723;
    padding: 10px 0px;
}

.wrap-text {
    font-size: 34px;
}

.wrap-text .title {
    font-size: 24px;
    color: white;
    padding-bottom: 5px;
}

.wrap-text .context {
    font-size: 18px;
    padding-top: 10px;
}

.home-product .block {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.home-product .col {
    padding: 0px 10px;
}

.first {
    font-size: 18px;
    border: solid 2px rgb(95, 95, 95);
}

.first:hover {
    text-decoration: none;
    outline-style: solid;
    outline-width: 4px;
    outline-color: #ffe683 !important;
    transition: 0.1s;
}

.see-more .button {
    margin-top: 30%;
}

.see-more .button .btn {
    width: 80%;
    padding: 10px;
}

.col-img:hover {
    text-decoration: none;
    outline-style: solid;
    outline-width: 4px;
    outline-color: #e26723;
    transition: 0.1s;
}

.col-img {
    height: 240px;
    width: 250px;
    min-height: 100%;
    border: solid 2px rgb(95, 95, 95);
}

.col-img img {
    height: 200px;
}

.home-product .v-center {
    margin-top: 20%;
}

.home-product .small-container {
    width: 60vw;
    margin: auto;
}

.text-content {
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.home .grey-back {
    margin: 0;
    min-height: fit-content;
    padding: 0.25rem 0;
    background-image: radial-gradient(rgb(180, 180, 180), rgb(78, 77, 77));
}

.product-browsing__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.product-browsing__item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-browsing__item-link:hover {
    
}
.product-browsing__item-img {
    height: 100px;
}
.product-browsing__item-title {

}