.product-detail .detail-img {
    padding: 25px 15px;
    position: block;
    width: 100%;
    z-index: 0;
    border: solid 1px black;
}

.product-detail .block {
    margin-bottom: 30px;
}

.product-detail .left, .product-detail .right {
    padding: 0;
    height: 100%;
}

.product-detail .left {
    margin-right: 25px;
}

.product-detail .detail-title {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 3px;
    margin-bottom: 5px;
    border-bottom: solid 0.6px black;
}

.product-detail .detail-price {
    font-size: 18px !important;
}

.product-detail .detail-text p{
    font-family: 'Rubik', sans-serif; 
    font-size: 14px;
}

.product-detail .detail-block .body {
    margin-bottom: 5px;
}

.product-detail .detail-block .title {
    font-size: 18;
    font-weight: 900;
    margin-bottom: 5px;
}

.form-group .btn {
    background-color: #2c85c5;
}

.form-group .btn:hover {
    background-color: rgb(30, 91, 134);
}

.product-detail .action {
    margin: 0;
    border: solid 0.6px black;
    border-top: none;
    background-color: #f9f5e9;
}

.product-detail .action-function {
    text-align: center;
    /* width: 40px; */
    padding: 10px 3px !important;
}

.retailer-img img {
    height: 50px;
    /* border: solid 0.2px rgb(139, 137, 137); */
}

.product-detail .form-title {
    margin: 0;
}

.product-detail .base div,.product-detail .promo div{
    font-family: 'Roboto', sans-serif ;
    font-size: 16px;
}

.product-detail .total {
    color: rgb(30, 91, 134);
}

.product-detail .img {
    margin: 0;
}

.product-detail .banner {
    background-color: #505fa1;
}

.banner .banner-title {
    color: #8fa2cd;
    font-size: 14px;
    margin-bottom: 10px;
}

.banner .banner-name {
    font-size: 36px;
    margin-bottom: 0px;
}

.product-detail .row {
    margin: 0;
}

.product-detail .vertical-container {
    position: relative;
}

.product-detail .vertical {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.product-detail .detail-table thead th {
    border-bottom: solid 1px #dee2e6;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding-bottom: 2px;
}

.product-detail .detail-block tbody tr td{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.right-arrow {
    position: absolute;
    right: 1rem;
    top: 40%;
    font-size: 2rem;
    color: #2c85c5;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition-duration: 0.25s;
}

.left-arrow {
    position: absolute;
    left: 1rem;
    top: 40%;
    font-size: 2rem;
    color: #2c85c5;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition-duration: 0.25s;
}

.left-arrow:hover, .right-arrow:hover {
    transition: 0.3s;
    color: rgb(30, 91, 134);
}

.slide {
    opacity: 1;
    transition: 1s;
}