@Rubik {
    font-family: 'Rubik', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap);
}

@Nanum-Gothic {
    font-family: 'Nanum Gothic', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap);
}

@Robto {
    font-family: 'Roboto', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap);
}

html, body {
    height: 100%;
}

.w-container {
    width: 70vw;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.page-body {
    background-color: #191b2b;
}

.white-back {
    background-color: white;
}

.notfound {
    height: 100%;
    margin: auto;
}

.notfound .body {
    font-family: "Rubik", sans-serif;
    padding: 20vh 0;
}

.notfound .main-text h1 {
    font-size: 120px;
}

.notfound .sub-text {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
}

.notfound .sub-text h1 {
    font-size: 26px;
}

.banner {
    background-color: blueviolet;
    padding: 2.5rem 0rem 2rem 0rem;
    color: white;
}